# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
C:\Users\Dell\Desktop\personalProject\dsa-lab-prep\src\components\sidebar.tsx
C:\Users\Dell\Desktop\personalProject\Asymptotic Prac Tasks.docx
C:\Users\Dell\Desktop\personalProject\Circular Link List.pptx
C:\Users\Dell\Desktop\personalProject\Circular SLL.docx
C:\Users\Dell\Desktop\personalProject\DSA - Assignment#2.docx
C:\Users\Dell\Desktop\personalProject\DSA - Assignment#2.pdf
C:\Users\Dell\Desktop\personalProject\DSA Week 1 - Lect 1-2-3 (1).pptx
C:\Users\Dell\Desktop\personalProject\DSA Week 1 - Lect 1-2-3(Asymptotic Notations).pptx
C:\Users\Dell\Desktop\personalProject\DSA Week 2 - Lect 4-5-6.pptx
C:\Users\Dell\Desktop\personalProject\DSA Week 3 - Lect 7-8-9.pptx
C:\Users\Dell\Desktop\personalProject\DSA-outline-theory (1).docx
C:\Users\Dell\Desktop\personalProject\Infix to postfix conversion.docx
C:\Users\Dell\Desktop\personalProject\Lab 01.docx
C:\Users\Dell\Desktop\personalProject\Lab 2.pdf
C:\Users\Dell\Desktop\personalProject\Lab 3 - DSA - Zamad Shakeel.pdf
C:\Users\Dell\Desktop\personalProject\Lab 3 Linked List.pdf
C:\Users\Dell\Desktop\personalProject\Lab 4.pdf
C:\Users\Dell\Desktop\personalProject\Lab Stack.pdf
C:\Users\Dell\Desktop\personalProject\Lab2.docx
C:\Users\Dell\Desktop\personalProject\Queue Implementation.docx
C:\Users\Dell\Desktop\personalProject\Queue.pptx
C:\Users\Dell\Desktop\personalProject\Recursion prac tasks.docx
C:\Users\Dell\Desktop\personalProject\Singly LL Isertion+Deletion.docx
C:\Users\Dell\Desktop\personalProject\singly using class.docx
C:\Users\Dell\Desktop\personalProject\Stack Implementation.docx